.main-button {
	position:relative;
	display:inline-block;
	padding:10px 30px;
	background-color: #cb494b;
	border: 2px solid transparent;
	border-radius: 40px;
	color: #FFF;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.main-button:hover , .main-button:focus {
	background-color:#fff;
	border: 2px solid #cb494b;
	color:#cb494b;
}